*.pyc
__pycache__
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
*.db
*.sqlite3
db.sqlite3
*.env
.env
.DS_Store
node_modules/
staticfiles/
media/
.vscode/
.idea/
README_SETUP.md
brd.md
brd-prd-frd.md
readme.md
